/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
}
/*css reset*/

.wrap{
    width: 1440px;
    margin: 0 auto;
}

.header{
    
   
    background-image: url(../img/ham_drink.png);
   background-repeat: no-repeat;
 background-size: cover;
 background-size: center center;
   display: flex;
   justify-content: space-between;
 
 
}



h1 a{
    display: block;
    width: 120px;
    height: 24px;
    background-image: url(../img/logo_w.svg);
    background-repeat: no-repeat;
    background-position: center center;
  
    padding: 15px;
    margin-left: 40px;
    text-indent: 120%;
    overflow: hidden;
    white-space: nowrap;
   
}

.topmenu{
    display: flex;
}

.topmenu li{
 text-align: center;
 line-height: 2;
padding: 10px;

}

.topmenu li a{
    display: block;
    width: 80px;
    height: 30px;
    color:white;
    border: yellow 3px solid;
    text-decoration: none;
}
a:hover{
    
   background-color: gray;
}
.pdiv{
    
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, .3);
  
    width: 500px;
    height: 300px;
    margin: 120px;
}
.pdiv h2{
   
    color: white;
    font-size: 36px;
    font-weight: 700;
    color: hsl(100%, 100%, 100%);
}
.pdiv p{
   
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.section {
    background-color: #efe9e7;
    }

    /*middle*/

.middle{
    display: flex;
  justify-content: center;
}
.lmdiv{ 
    padding: 30px;
  
}

.lmdiv h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 10px;
}

.lmdiv li{ 
margin: 10px;

}

.lmdiv a{
    display: block;
    
    width: 200px;
    text-decoration: none;
    color: chocolate;
    padding: 3px;
    padding-top: 15px;
    border-bottom:3px solid coral ;
}

.lmdiv a:hover{
    background-color: chocolate;
color: white;
}

.rmdiv{
  
    padding: 30px;
}
.topmid{
    display: flex;

  justify-content: space-between;
 
}


.txt{
    width: 500px;
   height: 30px;
margin-bottom: 30px;
border-right: none;    
}

.search button{
height: 36px;
width: 50px;

border-left: none;    
}


.middlemenu{
    display: flex;
   
}

.middlemenu a{
    display: block;
    width: 50px;
    color: gray;
    padding: 10px;
    text-decoration: none;
   
}

.middlemenu a:hover{
    background-color: grey;
    color: wheat;
}

.shopcart{
border-left: 2px firebrick solid ;  

}


.menu{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    text-align: center;
}

.menu .order{
    margin: 10px;
  border-right: 2px gray solid;
  border-bottom: 2px gray solid;
}

.menu h2{
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    
}
.menu p{
    margin-bottom: 30px;
}

.menu span{
    display: block;
    font-size: 20px;
    font-weight: 700;
   
    margin: 10px;
}


.menu button{
   width: 200px;
   margin: 10px;
   color: orangered;
   border: orangered 1px solid;
   height: 40px;
}



/*line*/

.footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.leftdiv{
    display: flex; 
}
.leftdiv p{
    width: 300px;
   
}
.leftdiv h3{

margin-left: 30px;
font-weight: 600;
font-size: 20px;
}

.leftdiv p{
    padding: 20px;
    margin: 10px;
}

.leftdiv ul{
    margin-top: 30px;
    margin-left: 50px;
}

.leftdiv li{
padding: 3px;
list-style-type: disc;
}

.rightdiv{
margin-right: 30px;    
}


.bottomlogo{
    display: flex;  
    justify-content: flex-end;
    margin-top: 15px;
  
}

.lilogo{
    margin-right: 5px;
}